@media print {
  .no-print { 
    display: none;
  }
}

.otherButton {
  background: #bce;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}