@media print {
  .no-print { 
    display: none;
  }
}

.submit {
  background: peachpuff;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}
.otherButton {
  background: lightgray;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}
